body,
html {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: whitesmoke;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.container {
  margin-left: 15px;
  margin-right: 15px;
}

.content {
  margin-left: auto;
  margin-right: auto;
}

footer {
  text-align: center;
}

footer,
.nav-wrapper,
.sidenav {
  color: whitesmoke !important;
  background-color: #ff9900 !important;
}

footer a {
  color: rgb(122, 221, 236);
}

nav ul li a:hover {
  background-color: #415e52;
}

.sidenav li > a {
  color: white !important;
}

.selected-nav {
  font-weight: bold;
  background-color: #2e6b19;
  color: white;
}

.blue-background {
  background-image: url("myndir/background.png");
  background-size: cover; /* <------ */
  background-repeat: no-repeat;
  background-position: center center;
}

@media only screen and (min-width: 1000px) {
  .blue-background {
    background-image: url("myndir/background-stor.png");
    background-size: cover; /* <------ */
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.modal-img {
  width: 100%;
}

.small-img {
  width: 100%;
}

.navbar-hringur {
  width: 50px;
  height: auto;
  float: right;
  margin-right: 25px;
  margin-top: 2px;
}

.smyrsl-pic {
  width: 70%;
}
